<div class="gray-background">
  <div class="banner" id="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/-r5KSMkyoSc/1600x900')">
    <div class="banner-middle-div">
      <div class="title-center-div text-center">
        <h2 class="title">B2BFoodCo</h2>
        <h3 class="subtitle">Connecting companies in the food industry</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row algin-items-center">
      <div class="col-12 col-lg-6">
        <div class="description-container">
          <h2>Why B2BFoodCo?</h2>
          <p>B2BFoodCo helps actors in the food industry reaching the best deals on their products.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non tellus
            tincidunt, cursus magna scelerisque, cursus ante. Quisque sit amet dolor
            ac diam feugiat feugiat. Proin sollicitudin malesuada molestie.</p>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="buyer-seller-div text-center">
          <a href="#buyer-page" class="login-button">I'm a buyer</a>
          <a href="#seller-page" class="login-button">I'm a seller</a>
        </div>
      </div>
    </div>
  </div>




  <div class="secondary-container" id="buyer-page">
    <div class="cards-header">
      <h2 class="text-center">How we can help you contract</h2>
      <p class="text-center">3 reasons why you should use B2BFoodCo starting from today.</p>
    </div>
    <div class="grid">
      <div class="card">
        <div class="icon">
          <svg id="icon-svg" width="99" height="104" viewBox="0 0 99 104" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M53.0303 103.142C77.8831 103.142 98.0303 82.9952 98.0303 58.1424C98.0303 33.2896 77.8831 13.1424 53.0303 13.1424C28.1775 13.1424 8.03027 33.2896 8.03027 58.1424C8.03027 82.9952 28.1775 103.142 53.0303 103.142Z" fill="#D8973C" id="circle"/>
          <path id="first-bar" d="M74.5508 8.11468C71.8755 4.208 67.8311 1.59228 63.1626 0.747584C61.5293 0.450704 59.9707 1.53518 59.6763 3.165C59.3814 4.7954 60.4639 6.35641 62.0943 6.65139C65.1724 7.208 67.8384 8.9316 69.6006 11.5049C71.3843 14.1099 72.0337 17.2705 71.4282 20.4067C71.1143 22.0327 72.1787 23.6064 73.8057 23.9199C73.9976 23.957 74.1885 23.9751 74.3775 23.9751C75.7862 23.9751 77.0425 22.9775 77.3199 21.5435C78.231 16.8213 77.2481 12.0522 74.5508 8.11468Z" fill="#293A56"/>
          <path id="second-bar" d="M58.2398 8.89357C56.6089 8.60008 55.0489 9.68209 54.7549 11.3125C54.4605 12.9434 55.5435 14.5039 57.1743 14.7978C58.8159 15.0947 60.2373 16.0127 61.1753 17.3828C62.1284 18.7754 62.4732 20.4687 62.1469 22.1509C61.8311 23.7773 62.8936 25.352 64.52 25.668C64.7133 25.7056 64.9052 25.7231 65.0952 25.7231C66.5025 25.7231 67.7588 24.7275 68.0366 23.2944C68.6718 20.0239 67.9932 16.7212 66.1265 13.9941C64.2744 11.2886 61.4737 9.47697 58.2398 8.89357Z" fill="#293A56"/>
          <path d="M46.9336 17.2393C45.106 17.2393 43.3076 17.8628 41.8701 18.9951C39.7071 20.6987 38.6411 23.2808 38.7666 25.8418L22.4307 26.6562L10.1734 11.0771C9.50781 10.2305 8.44001 9.80571 7.37653 9.9644C6.3125 10.1211 5.41413 10.8364 5.02198 11.8379C0.273505 23.9697 1.33111 37.5859 7.57617 48.7715C5.00592 49.9653 3.21491 52.5649 3.21491 55.5815C3.21491 57.7681 4.16022 59.7339 5.65729 61.1074L0.190005 77.1748C-0.121575 78.0908 0.027891 79.1006 0.591311 79.8877C1.1543 80.6743 2.06251 81.1411 3.03028 81.1411H28.0303C28.0371 81.1401 28.0435 81.1401 28.0503 81.1411C29.7071 81.1411 31.0503 79.7978 31.0503 78.1411C31.0503 77.4243 30.7989 76.7666 30.3794 76.25L22.8184 64.6035C29.4834 68.6572 37.1958 70.8672 45.2696 70.8672H45.27C47.2315 70.8672 49.21 70.7324 51.1504 70.4668C52.2158 70.3213 53.1216 69.6157 53.5244 68.6191C53.9278 67.6216 53.7661 66.4849 53.1011 65.6392L40.2627 49.3218L44.9629 33.376C45.6016 33.5337 46.2632 33.6211 46.94 33.6211C48.7681 33.6211 50.5664 32.9976 52.003 31.8652C53.7222 30.5122 54.8115 28.5703 55.0703 26.3979C55.3286 24.2251 54.7256 22.082 53.3726 20.3643C51.8096 18.3779 49.4624 17.2393 46.9336 17.2393ZM33.9844 32.0874L29.4888 35.6274L26.9785 32.4365L33.9844 32.0874ZM7.21979 75.1411L11.3301 63.061C12.3374 62.9805 13.2871 62.7007 14.1436 62.2607L22.5059 75.1411H7.21979ZM16.0025 50.668C9.01319 41.7852 6.50537 30.1616 8.99121 19.2783L44.8574 64.8652C33.5137 64.7432 23.0161 59.584 16.0025 50.668ZM33.1983 40.3428L37.6988 36.7993L35.7129 43.5381L33.1983 40.3428ZM49.1123 25.6885C49.043 26.2695 48.752 26.7895 48.291 27.1514C47.7984 27.5395 47.2847 27.6211 46.94 27.6211C46.2622 27.6211 45.6333 27.3164 45.2158 26.7861C44.4683 25.8369 44.6328 24.4565 45.5825 23.709C46.0752 23.3203 46.5889 23.2393 46.9336 23.2393C47.6114 23.2393 48.2398 23.5439 48.6582 24.0752C49.02 24.5352 49.1812 25.1079 49.1123 25.6885Z" fill="#293A56"/>
          </svg>
        </div>
        <div class="card-content">
          <h2 class="card-title">Connect wordwide</h2>
          <p>Connect with trustworthy sellers wordwide</p>
        </div>
      </div>
      <div class="card">
        <div class="icon">
          <svg id="icon-svg" width="112" height="91" viewBox="0 0 112 91" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M45.0301 90.1413C69.8827 90.1413 90.0298 69.9943 90.0298 45.1416C90.0298 20.2889 69.8827 0.141846 45.0301 0.141846C20.1774 0.141846 0.030304 20.2889 0.030304 45.1416C0.030304 69.9943 20.1774 90.1413 45.0301 90.1413Z" fill="#DC493A" id="circle"/>
          <path d="M59.0103 11.3716V17.0918H53.2901L56.1201 14.2617L59.0103 11.3716Z" fill="#E9D758"/>
          <path d="M111.03 41.1719V78.1416C111.03 79.8018 109.691 81.1416 108.03 81.1416H34.0303C32.7505 81.1416 31.6104 80.3315 31.1905 79.1113C31.0801 78.8018 31.0303 78.4814 31.0303 78.1616C31.0303 78.1514 31.0303 78.1514 31.0303 78.1416V41.1719C31.0303 40.2617 31.4405 39.4014 32.1504 38.8315L43.0601 30.1113V20.0815C43.0601 19.2915 43.3701 18.5312 43.9302 17.9619L59.8902 2.0215C60.4502 1.4619 61.2202 1.1416 62.0103 1.1416H96.0005C97.6602 1.1416 99.0005 2.4814 99.0005 4.1416V30.4517L109.86 38.7915C110.6 39.3613 111.03 40.2417 111.03 41.1719ZM105.03 72.6719V46.3115L85.6602 57.2812L105.03 72.6719ZM99.0005 42.8315L102.62 40.7915L99.0005 38.0117V42.8315ZM42.7901 75.1514H98.5103L71.0103 53.3018L42.7901 75.1514ZM93.0005 46.2314V7.1318H65.0103V20.0815C65.0103 21.7417 63.6704 23.0815 62.0103 23.0815H49.0601V46.502L60.9805 53.4814L69.1905 47.1216C70.2803 46.2715 71.8101 46.2812 72.9004 47.1416L80.6001 53.2617L93.0005 46.2314ZM59.0103 17.0918V11.3716L56.1201 14.2617L53.2901 17.0918H59.0103V17.0918ZM37.0303 72.0312L55.8701 57.4414L37.0303 46.4014V72.0312ZM43.0601 42.9814V37.7915L39.3101 40.7915L43.0601 42.9814Z" fill="#293A56"/>
          </svg>
        </div>
        <div class="card-content">
          <h2 class="card-title">Only interesting offers</h2>
          <p>Only receive offers that might interest you sorted with your criteria</p>
        </div>
      </div>
      <div class="card">
        <div class="icon">
          <svg id="icon-svg" width="106" height="106" viewBox="0 0 106 106" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M45.0303 105.143C69.8831 105.143 90.0303 84.9954 90.0303 60.1426C90.0303 35.2898 69.8831 15.1426 45.0303 15.1426C20.1775 15.1426 0.030304 35.2898 0.030304 60.1426C0.030304 84.9954 20.1775 105.143 45.0303 105.143Z" fill="#FF8552" id="circle"/>
          <path d="M88.5303 30.1416H61.5303V40.1416H88.5303V30.1416Z" fill="#E9D758"/>
          <path d="M105.03 15.1416V77.1416C105.03 78.8018 103.69 80.1416 102.03 80.1416H28.0303C26.3701 80.1416 25.0303 78.8018 25.0303 77.1416V19.1416C25.0303 18.3818 25.3203 17.6416 25.8404 17.0918L40.8404 1.0918C41.4102 0.481397 42.2002 0.141602 43.0303 0.141602H95.0303C96.6905 0.141602 98.0303 1.4814 98.0303 3.1416V12.1416H102.03C103.69 12.1416 105.03 13.4814 105.03 15.1416ZM99.0303 74.1416V18.1416H49.7002V33.8115C49.7002 35.4619 48.3501 36.8115 46.7002 36.8115H31.0303V74.1416H99.0303ZM92.0303 12.1416V6.1416H44.3301L31.0303 20.3315V26.5615L44.5801 13.0215C45.1402 12.4619 45.9004 12.1416 46.7002 12.1416H92.0303ZM43.7002 30.8115V22.3818L35.2705 30.8115H43.7002Z" fill="#293A56"/>
          <path d="M94.5303 27.1416V43.1416C94.5303 44.8018 93.1905 46.1416 91.5303 46.1416H58.5303C56.8701 46.1416 55.5303 44.8018 55.5303 43.1416V27.1416C55.5303 25.4814 56.8701 24.1416 58.5303 24.1416H91.5303C93.1905 24.1416 94.5303 25.4814 94.5303 27.1416ZM88.5303 40.1416V30.1416H61.5303V40.1416H88.5303Z" fill="#293A56"/>
          <path d="M91.5303 52.1416C93.1905 52.1416 94.5303 53.4814 94.5303 55.1416C94.5303 56.8018 93.1905 58.1416 91.5303 58.1416H38.5303C36.8701 58.1416 35.5303 56.8018 35.5303 55.1416C35.5303 53.4814 36.8701 52.1416 38.5303 52.1416H91.5303V52.1416Z" fill="#293A56"/>
          <path d="M91.5303 63.1416C93.1905 63.1416 94.5303 64.4814 94.5303 66.1416C94.5303 67.8018 93.1905 69.1416 91.5303 69.1416H38.5303C36.8701 69.1416 35.5303 67.8018 35.5303 66.1416C35.5303 64.4814 36.8701 63.1416 38.5303 63.1416H91.5303Z" fill="#293A56"/>
          </svg>
        </div>
        <div class="card-content">
          <h2 class="card-title">Compare easily</h2>
          <p>Easily compare all your offers and contract in a second</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="buyer-seller-div text-center">
        <%= link_to 'Register as a buyer', new_user_registration_path, class: 'login-button-cards' %>
      </div>
    </div>
  </div>





  <div class="secondary-container" id="buyer-page">
    <div class="cards-header">
      <h2 class="text-center">How we can help you contract</h2>
      <p class="text-center">3 reasons why you should use B2BFoodCo starting from today.</p>
    </div>
    <div class="grid">
      <div class="card">
        <div class="icon">
          <svg id="icon-svg" width="101" height="107" viewBox="0 0 101 107" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M45.0303 90.1426C69.8831 90.1426 90.0303 69.9954 90.0303 45.1426C90.0303 20.2898 69.8831 0.142593 45.0303 0.142593C20.1775 0.142593 0.030304 20.2898 0.030304 45.1426C0.030304 69.9954 20.1775 90.1426 45.0303 90.1426Z" fill="#D8973C" id="circle"/>
          <path d="M66.0303 35.6416C67.9605 35.6416 69.5303 37.2119 69.5303 39.1416C69.5303 41.0713 67.9605 42.6416 66.0303 42.6416C64.1001 42.6416 62.5303 41.0713 62.5303 39.1416C62.5303 37.2119 64.1001 35.6416 66.0303 35.6416Z" fill="#59D999"/>
          <path id="second-bar" d="M94.8203 26.9116C98.4702 30.5518 100.48 35.4116 100.48 40.5713C100.48 45.7314 98.4702 50.5918 94.8101 54.2417C94.2305 54.8315 93.4605 55.1216 92.6905 55.1216C91.9204 55.1216 91.1602 54.8315 90.5703 54.2417C89.4004 53.0713 89.4004 51.1719 90.5703 50.002C93.0904 47.4814 94.4805 44.1318 94.4805 40.5713C94.4805 37.0117 93.1001 33.6616 90.5801 31.1514C89.4102 29.9814 89.4102 28.0815 90.5801 26.9116C91.7505 25.7314 93.6504 25.7314 94.8203 26.9116Z" fill="#293A56"/>
          <path d="M90.4102 102.311C90.8701 103.901 89.9502 105.561 88.3604 106.022C88.0801 106.102 87.8003 106.142 87.5303 106.142C86.2305 106.142 85.0303 105.292 84.6504 103.972L81.2403 92.1416H51.6201L48.4302 103.932C48.0601 105.262 46.8501 106.142 45.5303 106.142C45.2705 106.142 45.0103 106.111 44.7403 106.042C43.1504 105.602 42.2002 103.952 42.6304 102.352L58.2901 44.6318C57.1905 43.0815 56.5303 41.1816 56.5303 39.1416C56.5303 33.9014 60.7901 29.6416 66.0303 29.6416C71.2705 29.6416 75.5303 33.9014 75.5303 39.1416C75.5303 41.1816 74.8804 43.0615 73.7901 44.6113L90.4102 102.311ZM79.5103 86.1416L74.7603 69.6514L58.2705 86.1416H79.5103ZM72.0205 60.1416L68.6001 48.2812C67.7803 48.5117 66.9204 48.6416 66.0303 48.6416C65.1602 48.6416 64.3203 48.5117 63.5103 48.2915L60.3003 60.1416H72.0205ZM54.5401 81.3916L69.7901 66.1416H58.6704L54.5401 81.3916ZM69.5303 39.1416C69.5303 37.2119 67.9605 35.6416 66.0303 35.6416C64.1001 35.6416 62.5303 37.2119 62.5303 39.1416C62.5303 41.0713 64.1001 42.6416 66.0303 42.6416C67.9605 42.6416 69.5303 41.0713 69.5303 39.1416Z" fill="#293A56"/>
          <path id="first-bar" d="M85.2105 31.1318C87.7202 33.6416 89.1001 36.9717 89.1001 40.5117C89.1001 44.0615 87.7105 47.4014 85.1905 49.9116C84.6104 50.4917 83.8404 50.7915 83.0703 50.7915C82.3101 50.7915 81.5401 50.4917 80.9502 49.9116C79.7803 48.7314 79.7803 46.8315 80.9605 45.6616C82.3404 44.2812 83.1001 42.4619 83.1001 40.5117C83.1001 38.5713 82.3404 36.752 80.9702 35.3818C79.8003 34.2119 79.7901 32.3115 80.9702 31.1416C82.1304 29.9619 84.0303 29.9619 85.2105 31.1318Z" fill="#293A56"/>
          <path id="first-bar" d="M50.9605 31.1616C52.1304 32.3418 52.1201 34.2417 50.9502 35.4116C49.5703 36.7812 48.8101 38.6113 48.8101 40.5615C48.8101 42.502 49.5601 44.3213 50.9405 45.6914C52.1104 46.8613 52.1104 48.7617 50.9405 49.9316C50.3604 50.5215 49.5904 50.8115 48.8203 50.8115C48.0503 50.8115 47.2803 50.5215 46.7002 49.9316C44.1905 47.4316 42.8101 44.1016 42.8101 40.5615C42.8101 37.0117 44.2002 33.6719 46.7105 31.1616C47.8902 29.9917 49.7901 29.9917 50.9605 31.1616Z" fill="#293A56"/>
          <path id="second-bar" d="M41.4903 26.9316C42.6602 28.1016 42.6602 30.002 41.4903 31.1719C38.9702 33.6914 37.5801 37.0415 37.5801 40.6016C37.5801 44.1616 38.9605 47.502 41.4805 50.0215C42.6504 51.1914 42.6504 53.0918 41.4805 54.2617C40.9004 54.8516 40.1304 55.1416 39.3604 55.1416C38.5904 55.1416 37.8203 54.8516 37.2403 54.2617C33.5904 50.6113 31.5801 45.7617 31.5801 40.6016C31.5801 35.4316 33.5904 30.5815 37.2505 26.9316C38.4204 25.7617 40.3203 25.7617 41.4903 26.9316Z" fill="#293A56"/>
          </svg>
        </div>
        <div class="card-content">
          <h2 class="card-title">Connect wordwide</h2>
          <p>Connect with trustworthy buyers wordwide</p>
        </div>
      </div>
      <div class="card">
        <div class="icon">
          <svg id="icon-svg" width="118" height="91" viewBox="0 0 118 91" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M72.0303 90.1424C96.8831 90.1424 117.03 69.9952 117.03 45.1424C117.03 20.2896 96.8831 0.142365 72.0303 0.142365C47.1775 0.142365 27.0303 20.2896 27.0303 45.1424C27.0303 69.9952 47.1775 90.1424 72.0303 90.1424Z" fill="#DC493A" id="circle"/>
          <path d="M48.9405 48.1514H31.1201C31.4302 45.3613 32.5503 43.6016 34.7901 42.4814L38.5205 44.7017C39.4805 45.2715 40.6602 45.2715 41.6104 44.7017L45.2803 42.4814C47.5103 43.6016 48.6304 45.3716 48.9405 48.1514Z" fill="#E9D758"/>
          <path d="M80.0303 8.19141V69.1318C80.0303 70.7812 78.6905 72.1318 77.0303 72.1318H54.0703L58.6905 80.7217C59.1905 81.6514 59.1602 82.7715 58.6201 83.6816C58.0801 84.5815 57.1001 85.1416 56.0503 85.1416H24.0703C23.0205 85.1416 22.0401 84.5815 21.5005 83.6816C20.9605 82.7715 20.9302 81.6514 21.4302 80.7217L26.0503 72.1318H3.09039C2.30029 72.1318 1.5303 71.8115 0.9702 71.252C0.4102 70.6914 0.0903931 69.9219 0.0903931 69.1318V8.19141C0.0903931 6.53119 1.4405 5.19141 3.09039 5.19141H77.0303C77.8301 5.19141 78.5904 5.51169 79.1504 6.07129C79.7105 6.63181 80.0303 7.3916 80.0303 8.19141ZM74.0303 66.1318V54.1514H6.09038V66.1318H74.0303V66.1318ZM74.0303 48.1514V11.1914H40.0601H6.09038V48.1514H25.1001C25.5601 42.2119 28.5601 38.2217 34.0401 36.3018C34.3604 36.1816 34.6905 36.1318 35.0303 36.1318C35.5601 36.1318 36.1001 36.2715 36.5703 36.5518L40.0503 38.6318L43.4805 36.5615C44.2505 36.1016 45.1802 36.002 46.0205 36.3018C51.5005 38.2217 54.5005 42.2119 54.9605 48.1514H74.0303V48.1514ZM51.0303 79.1416L47.2603 72.1416H32.8604L29.1001 79.1416H51.0303ZM31.1201 48.1514H48.9405C48.6304 45.3716 47.5103 43.6016 45.2803 42.4814L41.6104 44.7017C40.6602 45.2715 39.4805 45.2715 38.5205 44.7017L34.7901 42.4814C32.5503 43.6016 31.4302 45.3613 31.1201 48.1514Z" fill="#293A56"/>
          <path d="M40.0601 13.1416C46.1304 13.1416 51.0601 18.0713 51.0601 24.1416C51.0601 30.2119 46.1304 35.1416 40.0601 35.1416C38.5503 35.1416 37.1001 34.8315 35.7901 34.2812C31.8404 32.6016 29.0601 28.6914 29.0601 24.1416C29.0601 18.0713 34.0005 13.1416 40.0601 13.1416ZM45.0601 24.1416C45.0601 21.3818 42.8203 19.1416 40.0601 19.1416C37.3003 19.1416 35.0601 21.3818 35.0601 24.1416C35.0601 26.9014 37.3003 29.1416 40.0601 29.1416C42.8203 29.1416 45.0601 26.9014 45.0601 24.1416Z" fill="#293A56"/>
          <path d="M42.1802 58.0312C42.7403 58.5815 43.0601 59.3613 43.0601 60.1514C43.0601 60.9414 42.7403 61.7119 42.1802 62.2715C41.6201 62.8315 40.8501 63.1514 40.0601 63.1514C39.2705 63.1514 38.5005 62.8315 37.9405 62.2715C37.3804 61.7119 37.0601 60.9414 37.0601 60.1514C37.0601 59.3613 37.3804 58.5815 37.9405 58.0312C39.0601 56.9116 41.0601 56.9116 42.1802 58.0312Z" fill="#293A56"/>
          </svg>
        </div>
        <div class="card-content">
          <h2 class="card-title">Show case</h2>
          <p>Show your products in a dedicated platform</p>
        </div>
      </div>
      <div class="card">
        <div class="icon">
          <svg id="icon-svg" width="102" height="111" viewBox="0 0 102 111" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M45.0305 90.1423C69.8832 90.1423 90.0303 69.9953 90.0303 45.1426C90.0303 20.2899 69.8832 0.142853 45.0305 0.142853C20.1779 0.142853 0.0307922 20.2899 0.0307922 45.1426C0.0307922 69.9953 20.1779 90.1423 45.0305 90.1423Z" fill="#FF8552" id="circle"/>
          <path d="M98.0303 40.1416H74.9917L61.774 30.7002C60.8599 30.0474 59.6573 29.96 58.6577 30.4741C57.6582 30.9888 57.0303 32.0176 57.0303 33.1416V40.1416H49.0303C47.3736 40.1416 46.0303 41.4849 46.0303 43.1416V52.4111H28.0303C26.3736 52.4111 25.0303 53.7544 25.0303 55.4111V95.646C25.0303 97.3027 26.3736 98.646 28.0303 98.646H54.6587L69.9707 109.584C70.4893 109.953 71.1001 110.142 71.7149 110.142C72.1836 110.142 72.6543 110.032 73.0869 109.81C74.0865 109.295 74.7144 108.265 74.7144 107.142V98.646H87.0303C88.687 98.646 90.0303 97.3027 90.0303 95.646V81.1416H98.0303C99.687 81.1416 101.03 79.7983 101.03 78.1416V43.1416C101.03 41.4849 99.687 40.1416 98.0303 40.1416ZM84.0303 92.646H71.7144C70.0576 92.646 68.7144 93.9893 68.7144 95.646V101.312L57.3638 93.2056C56.855 92.8413 56.2456 92.646 55.6201 92.646H31.0303V58.4111H84.0303V92.646ZM95.0303 75.1416H90.0303V55.4111C90.0303 53.7544 88.687 52.4111 87.0303 52.4111H52.0303V46.1416H60.0303C61.687 46.1416 63.0303 44.7983 63.0303 43.1416V38.9712L72.2866 45.5835C72.7954 45.9468 73.4048 46.1416 74.0303 46.1416H95.0303V75.1416Z" fill="#293A56"/>
          <path id="first-dot" d="M43.0303 77.9517C43.8203 77.9517 44.5904 77.6323 45.1499 77.0713C45.71 76.5117 46.0303 75.7412 46.0303 74.9517C46.0303 74.1616 45.71 73.3916 45.1499 72.8315C44.0303 71.7114 42.02 71.7114 40.9102 72.8315C40.3501 73.3916 40.0303 74.1616 40.0303 74.9517C40.0303 75.7412 40.3501 76.5117 40.9102 77.0713C41.4702 77.6323 42.2403 77.9517 43.0303 77.9517Z" fill="#293A56"/>
          <path id="second-dot" d="M57.9702 77.9517C58.7603 77.9517 59.5401 77.6323 60.0904 77.0713C60.6499 76.5117 60.9702 75.7412 60.9702 74.9517C60.9702 74.1616 60.6499 73.3916 60.0904 72.8315C58.98 71.7114 56.9702 71.7114 55.8501 72.8315C55.3003 73.3916 54.9702 74.1616 54.9702 74.9517C54.9702 75.7412 55.2901 76.5117 55.8501 77.0713C56.4102 77.6323 57.19 77.9517 57.9702 77.9517Z" fill="#293A56"/>
          <path id="third-dot" d="M72.9199 77.9517C73.71 77.9517 74.48 77.6323 75.0401 77.0713C75.6001 76.5117 75.9199 75.7412 75.9199 74.9517C75.9199 74.1616 75.6001 73.3916 75.0401 72.8315C73.9199 71.7114 71.9102 71.7217 70.8003 72.8315C70.2403 73.3916 69.9199 74.1616 69.9199 74.9517C69.9199 75.7412 70.2403 76.522 70.8003 77.0713C71.3604 77.6323 72.1304 77.9517 72.9199 77.9517Z" fill="#293A56"/>
          </svg>
        </div>
        <div class="card-content">
          <h2 class="card-title">Reach buyers</h2>
          <p>Send offers only to buyers that are interested in your product</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="buyer-seller-div text-center">
        <%= link_to 'Register as a seller', new_user_registration_path, class: 'login-button-cards' %>
      </div>
    </div>
  </div>
</div>




<!-- <div class="full-width-bar">
<div class="buyer-page" id="buyer-page">
  <div class="buyer-upper-div">
    <h4 class="buyer-header">Professional food buyer</h4>
    <h4 class="buyer-header">Food manufacturing, food service, food retail</h4>
  </div>

  <div class="buyer-middle-div">
    <div class="buyer-middle-div-card">
      <div class="card-content">
        <h5>Connect</h5>
          <p>with<br>trustworthy<br>sellers<br>worldwide</p>
      </div>
      <div class="card-icon">
        <h5><i class="fas fa-globe-americas icon"></i></h5>
      </div>
    </div>

    <div class="buyer-middle-div-card">
      <div class="card-content">
        <h5>Only</h5>
        <p>receive<br>offers<br>that might<br>interest<br>you</p>
      </div>
      <div class="card-icon">
        <h5><i class="fas fa-check-circle icon"></i></h5>
      </div>
    </div>

    <div class="buyer-middle-div-card">
      <div class="card-content">
        <h5>Compare</h5>
        <p>&<br>contract<br>effortlessly</p>
      </div>
      <div class="card-icon">
        <h5><i class="fas fa-file-signature icon"></i></h5>
      </div>
    </div>
  </div>

  <div class="buyer-lower-div">
    <h4><a href="#" class="buyer-footer">Let B2BFoodCo be your key to buisness<br>Register, it's free</a></h4>
  </div>
</div>
</div> -->


<!-- <div class="seller-page" id="seller-page">
  <div class="seller-upper-div">
    <h4 class="buyer-header">Professional food seller</h4>
    <h4 class="buyer-header">Food manufacturer, exporter, reseller</h4>
  </div>

  <div class="seller-middle-div">
    <div class="seller-middle-div-card">
      <div class="card-content">
        <h5>Connect</h5>
        <p>with<br>reknonw<br>boyers<br>worldwide</p>
      </div>
      <div class="card-icon">
        <h5><i class="fas fa-globe-americas icon"></i></h5>
      </div>
    </div>

    <div class="seller-middle-div-card">
      <div class="card-content">
        <h5>Show</h5>
        <p>case<br>your<br>products</p>
      </div>
      <div class="card-icon">
        <h5><i class="fas fa-check-circle icon"></i></h5>
      </div>
    </div>

    <div class="seller-middle-div-card">
      <div class="card-content">
        <h5>Reach</h5>
        <p>the buyers you<br>want & that<br>are interested<br>in your<br>products</p>
      </div>
      <div class="card-icon">
        <h5><i class="fas fa-file-signature icon"></i></h5>
      </div>
    </div>
  </div>

  <div class="seller-lower-div">
    <a href="#" class="buyer-footer">Let B2BFoodCo be your key to buisness<br>Register now</a>
  </div>
</div> -->
