<div class="gray-background">
  <div class="banner" id="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/-r5KSMkyoSc/1600x900')">
    <div class="banner-middle-div">
      <div class="title-center-div text-center">
        <h2 class="title">B2BFoodCo</h2>
        <h3 class="subtitle">Connecting companies in the food industry</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row algin-items-center">
      <div class="col-12 col-lg-6">
        <div class="description-container">
          <h2>Why B2BFoodCo?</h2>
          <p>B2BFoodCo helps actors in the food industry reaching the best deals on their products.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non tellus
            tincidunt, cursus magna scelerisque, cursus ante. Quisque sit amet dolor
            ac diam feugiat feugiat. Proin sollicitudin malesuada molestie.</p>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="buyer-seller-div text-center">
          <a href="#buyer-page" class="login-button">I'm a buyer</a>
          <a href="#seller-page" class="login-button">I'm a seller</a>
        </div>
      </div>
    </div>
  </div>
  <div class="secondary-container" id="buyer-page">
    <div class="cards-header">
      <h2 class="text-center">How we can help you contract</h2>
      <p class="text-center">3 reasons why you should use B2BFoodCo starting from today.</p>
    </div>
    <div class="grid">
      <div class="card">
        <div class="icon">
          <svg id="icon-svg" width="99" height="104" viewBox="0 0 99 104" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M53.0303 103.142C77.8831 103.142 98.0303 82.9952 98.0303 58.1424C98.0303 33.2896 77.8831 13.1424 53.0303 13.1424C28.1775 13.1424 8.03027 33.2896 8.03027 58.1424C8.03027 82.9952 28.1775 103.142 53.0303 103.142Z" fill="#D8973C" id="circle"/>
          <path d="M74.5508 8.11468C71.8755 4.208 67.8311 1.59228 63.1626 0.747584C61.5293 0.450704 59.9707 1.53518 59.6763 3.165C59.3814 4.7954 60.4639 6.35641 62.0943 6.65139C65.1724 7.208 67.8384 8.9316 69.6006 11.5049C71.3843 14.1099 72.0337 17.2705 71.4282 20.4067C71.1143 22.0327 72.1787 23.6064 73.8057 23.9199C73.9976 23.957 74.1885 23.9751 74.3775 23.9751C75.7862 23.9751 77.0425 22.9775 77.3199 21.5435C78.231 16.8213 77.2481 12.0522 74.5508 8.11468Z" fill="#293A56"/>
          <path d="M58.2398 8.89357C56.6089 8.60008 55.0489 9.68209 54.7549 11.3125C54.4605 12.9434 55.5435 14.5039 57.1743 14.7978C58.8159 15.0947 60.2373 16.0127 61.1753 17.3828C62.1284 18.7754 62.4732 20.4687 62.1469 22.1509C61.8311 23.7773 62.8936 25.352 64.52 25.668C64.7133 25.7056 64.9052 25.7231 65.0952 25.7231C66.5025 25.7231 67.7588 24.7275 68.0366 23.2944C68.6718 20.0239 67.9932 16.7212 66.1265 13.9941C64.2744 11.2886 61.4737 9.47697 58.2398 8.89357Z" fill="#293A56"/>
          <path d="M46.9336 17.2393C45.106 17.2393 43.3076 17.8628 41.8701 18.9951C39.7071 20.6987 38.6411 23.2808 38.7666 25.8418L22.4307 26.6562L10.1734 11.0771C9.50781 10.2305 8.44001 9.80571 7.37653 9.9644C6.3125 10.1211 5.41413 10.8364 5.02198 11.8379C0.273505 23.9697 1.33111 37.5859 7.57617 48.7715C5.00592 49.9653 3.21491 52.5649 3.21491 55.5815C3.21491 57.7681 4.16022 59.7339 5.65729 61.1074L0.190005 77.1748C-0.121575 78.0908 0.027891 79.1006 0.591311 79.8877C1.1543 80.6743 2.06251 81.1411 3.03028 81.1411H28.0303C28.0371 81.1401 28.0435 81.1401 28.0503 81.1411C29.7071 81.1411 31.0503 79.7978 31.0503 78.1411C31.0503 77.4243 30.7989 76.7666 30.3794 76.25L22.8184 64.6035C29.4834 68.6572 37.1958 70.8672 45.2696 70.8672H45.27C47.2315 70.8672 49.21 70.7324 51.1504 70.4668C52.2158 70.3213 53.1216 69.6157 53.5244 68.6191C53.9278 67.6216 53.7661 66.4849 53.1011 65.6392L40.2627 49.3218L44.9629 33.376C45.6016 33.5337 46.2632 33.6211 46.94 33.6211C48.7681 33.6211 50.5664 32.9976 52.003 31.8652C53.7222 30.5122 54.8115 28.5703 55.0703 26.3979C55.3286 24.2251 54.7256 22.082 53.3726 20.3643C51.8096 18.3779 49.4624 17.2393 46.9336 17.2393ZM33.9844 32.0874L29.4888 35.6274L26.9785 32.4365L33.9844 32.0874ZM7.21979 75.1411L11.3301 63.061C12.3374 62.9805 13.2871 62.7007 14.1436 62.2607L22.5059 75.1411H7.21979ZM16.0025 50.668C9.01319 41.7852 6.50537 30.1616 8.99121 19.2783L44.8574 64.8652C33.5137 64.7432 23.0161 59.584 16.0025 50.668ZM33.1983 40.3428L37.6988 36.7993L35.7129 43.5381L33.1983 40.3428ZM49.1123 25.6885C49.043 26.2695 48.752 26.7895 48.291 27.1514C47.7984 27.5395 47.2847 27.6211 46.94 27.6211C46.2622 27.6211 45.6333 27.3164 45.2158 26.7861C44.4683 25.8369 44.6328 24.4565 45.5825 23.709C46.0752 23.3203 46.5889 23.2393 46.9336 23.2393C47.6114 23.2393 48.2398 23.5439 48.6582 24.0752C49.02 24.5352 49.1812 25.1079 49.1123 25.6885Z" fill="#293A56"/>
          </svg>
        </div>
        <div class="card-content">
          <h2 class="card-title">Connect wordwide</h2>
          <p>Connect with trustworthy sellers wordwide</p>
        </div>
      </div>
      <div class="card">
        <div class="icon">
          <svg id="icon-svg" width="112" height="91" viewBox="0 0 112 91" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M45.0301 90.1413C69.8827 90.1413 90.0298 69.9943 90.0298 45.1416C90.0298 20.2889 69.8827 0.141846 45.0301 0.141846C20.1774 0.141846 0.030304 20.2889 0.030304 45.1416C0.030304 69.9943 20.1774 90.1413 45.0301 90.1413Z" fill="#DC493A" id="circle"/>
          <path d="M59.0103 11.3716V17.0918H53.2901L56.1201 14.2617L59.0103 11.3716Z" fill="#E9D758"/>
          <path d="M111.03 41.1719V78.1416C111.03 79.8018 109.691 81.1416 108.03 81.1416H34.0303C32.7505 81.1416 31.6104 80.3315 31.1905 79.1113C31.0801 78.8018 31.0303 78.4814 31.0303 78.1616C31.0303 78.1514 31.0303 78.1514 31.0303 78.1416V41.1719C31.0303 40.2617 31.4405 39.4014 32.1504 38.8315L43.0601 30.1113V20.0815C43.0601 19.2915 43.3701 18.5312 43.9302 17.9619L59.8902 2.0215C60.4502 1.4619 61.2202 1.1416 62.0103 1.1416H96.0005C97.6602 1.1416 99.0005 2.4814 99.0005 4.1416V30.4517L109.86 38.7915C110.6 39.3613 111.03 40.2417 111.03 41.1719ZM105.03 72.6719V46.3115L85.6602 57.2812L105.03 72.6719ZM99.0005 42.8315L102.62 40.7915L99.0005 38.0117V42.8315ZM42.7901 75.1514H98.5103L71.0103 53.3018L42.7901 75.1514ZM93.0005 46.2314V7.1318H65.0103V20.0815C65.0103 21.7417 63.6704 23.0815 62.0103 23.0815H49.0601V46.502L60.9805 53.4814L69.1905 47.1216C70.2803 46.2715 71.8101 46.2812 72.9004 47.1416L80.6001 53.2617L93.0005 46.2314ZM59.0103 17.0918V11.3716L56.1201 14.2617L53.2901 17.0918H59.0103V17.0918ZM37.0303 72.0312L55.8701 57.4414L37.0303 46.4014V72.0312ZM43.0601 42.9814V37.7915L39.3101 40.7915L43.0601 42.9814Z" fill="#293A56"/>
          </svg>
        </div>
        <div class="card-content">
          <h2 class="card-title">Only interesting offers</h2>
          <p>Only receive offers that might interest you sorted with your criteria</p>
        </div>
      </div>
      <div class="card">
        <div class="icon">
          <svg id="icon-svg" width="106" height="106" viewBox="0 0 106 106" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M45.0303 105.143C69.8831 105.143 90.0303 84.9954 90.0303 60.1426C90.0303 35.2898 69.8831 15.1426 45.0303 15.1426C20.1775 15.1426 0.030304 35.2898 0.030304 60.1426C0.030304 84.9954 20.1775 105.143 45.0303 105.143Z" fill="#FF8552" id="circle"/>
          <path d="M88.5303 30.1416H61.5303V40.1416H88.5303V30.1416Z" fill="#E9D758"/>
          <path d="M105.03 15.1416V77.1416C105.03 78.8018 103.69 80.1416 102.03 80.1416H28.0303C26.3701 80.1416 25.0303 78.8018 25.0303 77.1416V19.1416C25.0303 18.3818 25.3203 17.6416 25.8404 17.0918L40.8404 1.0918C41.4102 0.481397 42.2002 0.141602 43.0303 0.141602H95.0303C96.6905 0.141602 98.0303 1.4814 98.0303 3.1416V12.1416H102.03C103.69 12.1416 105.03 13.4814 105.03 15.1416ZM99.0303 74.1416V18.1416H49.7002V33.8115C49.7002 35.4619 48.3501 36.8115 46.7002 36.8115H31.0303V74.1416H99.0303ZM92.0303 12.1416V6.1416H44.3301L31.0303 20.3315V26.5615L44.5801 13.0215C45.1402 12.4619 45.9004 12.1416 46.7002 12.1416H92.0303ZM43.7002 30.8115V22.3818L35.2705 30.8115H43.7002Z" fill="#293A56"/>
          <path d="M94.5303 27.1416V43.1416C94.5303 44.8018 93.1905 46.1416 91.5303 46.1416H58.5303C56.8701 46.1416 55.5303 44.8018 55.5303 43.1416V27.1416C55.5303 25.4814 56.8701 24.1416 58.5303 24.1416H91.5303C93.1905 24.1416 94.5303 25.4814 94.5303 27.1416ZM88.5303 40.1416V30.1416H61.5303V40.1416H88.5303Z" fill="#293A56"/>
          <path d="M91.5303 52.1416C93.1905 52.1416 94.5303 53.4814 94.5303 55.1416C94.5303 56.8018 93.1905 58.1416 91.5303 58.1416H38.5303C36.8701 58.1416 35.5303 56.8018 35.5303 55.1416C35.5303 53.4814 36.8701 52.1416 38.5303 52.1416H91.5303V52.1416Z" fill="#293A56"/>
          <path d="M91.5303 63.1416C93.1905 63.1416 94.5303 64.4814 94.5303 66.1416C94.5303 67.8018 93.1905 69.1416 91.5303 69.1416H38.5303C36.8701 69.1416 35.5303 67.8018 35.5303 66.1416C35.5303 64.4814 36.8701 63.1416 38.5303 63.1416H91.5303Z" fill="#293A56"/>
          </svg>
        </div>
        <div class="card-content">
          <h2 class="card-title">Compare easily</h2>
          <p>Easily compare all your offers and contract in a second</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="buyer-seller-div text-center">
        <%= link_to 'Register as a buyer', new_user_registration_path, class: 'login-button-cards' %>
      </div>
    </div>
  </div>
</div>




<!-- <div class="full-width-bar">
<div class="buyer-page" id="buyer-page">
  <div class="buyer-upper-div">
    <h4 class="buyer-header">Professional food buyer</h4>
    <h4 class="buyer-header">Food manufacturing, food service, food retail</h4>
  </div>

  <div class="buyer-middle-div">
    <div class="buyer-middle-div-card">
      <div class="card-content">
        <h5>Connect</h5>
          <p>with<br>trustworthy<br>sellers<br>worldwide</p>
      </div>
      <div class="card-icon">
        <h5><i class="fas fa-globe-americas icon"></i></h5>
      </div>
    </div>

    <div class="buyer-middle-div-card">
      <div class="card-content">
        <h5>Only</h5>
        <p>receive<br>offers<br>that might<br>interest<br>you</p>
      </div>
      <div class="card-icon">
        <h5><i class="fas fa-check-circle icon"></i></h5>
      </div>
    </div>

    <div class="buyer-middle-div-card">
      <div class="card-content">
        <h5>Compare</h5>
        <p>&<br>contract<br>effortlessly</p>
      </div>
      <div class="card-icon">
        <h5><i class="fas fa-file-signature icon"></i></h5>
      </div>
    </div>
  </div>

  <div class="buyer-lower-div">
    <h4><a href="#" class="buyer-footer">Let B2BFoodCo be your key to buisness<br>Register, it's free</a></h4>
  </div>
</div>
</div> -->


<!-- <div class="seller-page" id="seller-page">
  <div class="seller-upper-div">
    <h4 class="buyer-header">Professional food seller</h4>
    <h4 class="buyer-header">Food manufacturer, exporter, reseller</h4>
  </div>

  <div class="seller-middle-div">
    <div class="seller-middle-div-card">
      <div class="card-content">
        <h5>Connect</h5>
        <p>with<br>reknonw<br>boyers<br>worldwide</p>
      </div>
      <div class="card-icon">
        <h5><i class="fas fa-globe-americas icon"></i></h5>
      </div>
    </div>

    <div class="seller-middle-div-card">
      <div class="card-content">
        <h5>Show</h5>
        <p>case<br>your<br>products</p>
      </div>
      <div class="card-icon">
        <h5><i class="fas fa-check-circle icon"></i></h5>
      </div>
    </div>

    <div class="seller-middle-div-card">
      <div class="card-content">
        <h5>Reach</h5>
        <p>the buyers you<br>want & that<br>are interested<br>in your<br>products</p>
      </div>
      <div class="card-icon">
        <h5><i class="fas fa-file-signature icon"></i></h5>
      </div>
    </div>
  </div>

  <div class="seller-lower-div">
    <a href="#" class="buyer-footer">Let B2BFoodCo be your key to buisness<br>Register now</a>
  </div>
</div> -->
