<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/-r5KSMkyoSc/1600x900')">
  <div class="banner-upper-div">
    <div class="login-button-div">
      <%= link_to 'Login', new_user_session_path, class: 'login-button' %>
      <!-- <a href="#" class="login-button">Login</a> -->
    </div>
  </div>

  <div class="banner-middle-div">
    <div class="title-center-div text-center">
      <h2 class="title">B2BFoodCo</h2>
      <h3 class="subtitle">Connecting companies in the food industry</h3>
    </div>
  </div>

    <!-- div class="banner-lower-div">
    <div class="buyer-seller-div text-center">
      <a href="#buyer-page" class="login-button buyer-seller-button">I'm a buyer</a>
      <a href="#seller-page" class="login-button buyer-seller-button">I'm a seller</a>
    </div> -->
  </div>
</div>
<div class="container">
  <div class="row algin-items-center">
    <div class="col-12 col-lg-6">
      <div class="description-container">
        <h2>Why B2BFoodCo?</h2>
        <p>B2BFoodCo helps actors in the food industry reaching the best deals on their products.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non tellus
          tincidunt, cursus magna scelerisque, cursus ante. Quisque sit amet dolor
          ac diam feugiat feugiat. Proin sollicitudin malesuada molestie.</p>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="buyer-seller-div text-center">
        <a href="#buyer-page" class="login-button">I'm a buyer</a>
        <a href="#seller-page" class="login-button">I'm a seller</a>
      </div>
    </div>
  </div>
</div>
<div class="full-width-bar">
<div class="buyer-page" id="buyer-page">
  <div class="buyer-upper-div">
    <!-- <h4 class="buyer-header">Professional food buyer</h4> -->
    <h4 class="buyer-header">Food manufacturing, food service, food retail</h4>
  </div>

  <div class="buyer-middle-div">
    <div class="buyer-middle-div-card">
      <div class="card-content">
        <h5>Connect</h5>
          <p>with<br>trustworthy<br>sellers<br>worldwide</p>
      </div>
      <div class="card-icon">
        <h5><i class="fas fa-globe-americas icon"></i></h5>
      </div>
    </div>

    <div class="buyer-middle-div-card">
      <div class="card-content">
        <h5>Only</h5>
        <p>receive<br>offers<br>that might<br>interest<br>you</p>
      </div>
      <div class="card-icon">
        <h5><i class="fas fa-check-circle icon"></i></h5>
      </div>
    </div>

    <div class="buyer-middle-div-card">
      <div class="card-content">
        <h5>Compare</h5>
        <p>&<br>contract<br>effortlessly</p>
      </div>
      <div class="card-icon">
        <h5><i class="fas fa-file-signature icon"></i></h5>
      </div>
    </div>
  </div>

  <div class="buyer-lower-div">
    <h4><a href="#" class="buyer-footer">Let B2BFoodCo be your key to buisness<br>Register, it's free</a></h4>
  </div>
</div>
</div>


<div class="seller-page" id="seller-page">
  <div class="seller-upper-div">
    <!-- <h4 class="buyer-header">Professional food seller</h4> -->
    <h4 class="buyer-header">Food manufacturer, exporter, reseller</h4>
  </div>

  <div class="seller-middle-div">
    <div class="seller-middle-div-card">
      <div class="card-content">
        <h5>Connect</h5>
        <p>with<br>reknonw<br>boyers<br>worldwide</p>
      </div>
      <div class="card-icon">
        <h5><i class="fas fa-globe-americas icon"></i></h5>
      </div>
    </div>

    <div class="seller-middle-div-card">
      <div class="card-content">
        <h5>Show</h5>
        <p>case<br>your<br>products</p>
      </div>
      <div class="card-icon">
        <h5><i class="fas fa-check-circle icon"></i></h5>
      </div>
    </div>

    <div class="seller-middle-div-card">
      <div class="card-content">
        <h5>Reach</h5>
        <p>the buyers you<br>want & that<br>are interested<br>in your<br>products</p>
      </div>
      <div class="card-icon">
        <h5><i class="fas fa-file-signature icon"></i></h5>
      </div>
    </div>
  </div>

  <div class="seller-lower-div">
    <a href="#" class="buyer-footer">Let B2BFoodCo be your key to buisness<br>Register now</a>
  </div>
</div>
