<div class="container">
  <div class="content-container">
    <h2>Your contracts</h2>
      <% @offers.each do |offer| %>
        <div class="card-user">
          <p><b><%= link_to offer.title, offer_path(offer) %></b></p>
        </div>
      <% end %>
  </div>
</div>
