<h1>Offers</h1>

<ul>
  <% @offers.each do |offer| %>
    <% if offer.offer_request != nil %>
      <li><%= link_to offer.title, offer_path(offer) %> <%= link_to "Compare to other offers of #{offer.offer_request.title}", compare_chart_path(offer) %></li>
    <% else %>
      <li><%= link_to offer.title, offer_path(offer) %></li>
    <% end %>
  <% end %>
</ul>
