$primary: rgb(239, 81, 19);

.banner {
  height: 50vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner h2 {
  font-weight: bold;
}

.banner-upper-div {
  display: flex;
  flex-direction: column;
}

.login-button-div {
  align-self: flex-end;
  margin: 15px;
  box-shadow: 0 0 10px black;
  background-position: center center;
}

.login-button {
  color: white;
  background-color: $primary;
  padding: 8px 35px;
  border-radius: 5px;
}

@media (max-width: 80px) {
  .login-button {
  padding: 8px 20px;
  }
}

.login-button:hover {
  color: white;
  text-decoration: none;
}

.banner-middle-div {
}

.title-center-div {
}

.title {
 color: white;
 font-size: 60px;
 line-height: 60px;
 text-shadow: 0 0 10px black;
}

.subtitle {
  color: white;
  text-shadow: 0 0 10px black;
}

.banner-lower-div {
}

.buyer-seller-div {
  margin: 15px;
}

.buyer-seller-button {
  padding: 8px 60px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 0 0 10px black;
}

@media (max-width: 800px) {
  .buyer-seller-button {
  padding: 8px 20px;
  }
}
