$primary: rgb(239, 81, 19);

.banner {
  height: 50vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner h2 {
  font-weight: bold;
}

.banner-upper-div {
  display: flex;
  flex-direction: column;
}

.title {
 color: white;
 font-size: 60px;
 line-height: 60px;
 text-shadow: 0 0 10px black;
}

.subtitle {
  color: white;
  text-shadow: 0 0 10px black;
}

.buyer-seller-div {
  margin: 15px;
}

.banner-middle-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-center-div {
  flex-direction: column;
  justify-content: space-between;
}
