$primary: rgb(239, 81, 19);

.login-button-div {
  align-self: flex-end;
  box-shadow: 0 0 10px black;
  background-position: center center;
}

.login-button {
  color: white;
  background-color: $primary;
  padding: 8px 50px;
  border-radius: 5px;
}

.login-button:hover {
  color: white;
  text-decoration: none;
}

.buyer-seller-button {
  padding: 8px 100px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 0 0 10px black;
}

@media (max-width: 800px) {
  .buyer-seller-button {
  padding: 8px 20px;
  }
}

.button-frame {
  display: flex;
  flex-direction: row;
  width: 500px;
  margin-top: 10px;
}

.btn {
  margin: 5px;
  border-radius: 10px;
}

.btn-danger {
  color: white;
}

.login-button-cards {
  color: white;
  background-color: $primary;
  padding: 8px 10vw;
  border-radius: 5px;
}

.login-button-cards:hover {
  color: white;
  text-decoration: none;
}
