$primary: rgb(100, 191, 255);

.buyer-page, .seller-page {
  height: 100vh;
  max-width: 700px;
  margin: auto;
}

.description-container {
  padding: 20px 0px 20px 0px;
}

html, body {
  overflow-x: hidden;
}

.full-width-bar {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  background: #23967F;
}

.buyer-upper-div, .buyer-lower-div {
  margin: 20px 0;
  padding: 8px 30px;

  h4 {
    font-weight: bold;
  }
}

#image {
  background-image: url("https://source.unsplash.com/c8TWWQ5ZnUw/400x400");
  background-size: cover;
  height: 100%;
}

.seller-upper-div {
  background-color: $primary;
  margin: 20px 0;
  border-radius: 5px;
  padding: 8px 30px;
  border-bottom: 2px solid black;
}

.buyer-header, .seller-header {
  color: white;
  margin: 0;
  text-align: center;
}

.buyer-middle-div, .seller-middle-div {
  // height: 40vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

@media(max-width: 600px) {
  .buyer-middle-div, .seller-middle-div {
    grid-template-columns: 1fr;
  }
}

.seller-middle-div-card, .buyer-middle-div-card {
  // box-shadow: 0 0 5px black;
  color: #011627;
  background-color: white;
  border-style: none;
  border-radius: 5px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content {
  text-align: center;
  margin: 10px;
}

.card-content h5 {
  font-size: 30px;
}

.card-icon {
  text-align: center;
  margin: 10px;
}

.icon {
  font-size: 40px;
}

.seller-lower-div {
  background-color: $primary;
  margin: 20px 0;
  border-radius: 5px;
  padding: 8px 30px;
}

.buyer-footer, .seller-footer {
  color: white;
  margin: 0;
  text-align: center;
}
