$primary: rgb(100, 191, 255);

.secondary-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#seller-page {
  background-color: rgb(245, 245, 245);
}

.gray-background {
  background-color: rgb(245, 245, 245);
}

.card-title {
  font-size: 3.5vh;
  margin-top: 1vh;
}

#icon-svg {
  height: 65px;
  width: 65px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 13px;
  margin: 30px auto;
  width: 70vw;
  max-width: 570px;
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    margin: 10px;
  }
}

.card {
  background-color: white;
  padding: 10px 15px;
  border-radius: 4px;
  height: 280px;
  border-color: white;
}

.card-front {
  background-color: white;
  padding: 10px 15px;
  border-radius: 4px;
  max-height: 450px;
  border-color: white;
}

.cards-header {
  margin: 40px 0px 15px 0px;
  h2 {
    font-size: 23px;
  }
  p {
    font-size: 10px;
  }
}


.buyer-page, .seller-page {
  height: 100vh;
  max-width: 700px;
  margin: auto;
}

.container {
  // height: 50vh;
}

.description-container {
  padding: 20px 0px 20px 0px;
}

html, body {
  //  overflow-x: hidden;
}

.full-width-bar {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  background: #23967F;
}

.buyer-upper-div, .buyer-lower-div {
  margin: 20px 0;
  padding: 8px 30px;

  h4 {
    font-weight: bold;
  }
}

#image {
  background-image: url("https://source.unsplash.com/c8TWWQ5ZnUw/400x400");
  background-size: cover;
  height: 100%;
}

.seller-upper-div {
  background-color: $primary;
  margin: 20px 0;
  border-radius: 5px;
  padding: 8px 30px;
  border-bottom: 2px solid black;
}

.buyer-header, .seller-header {
  color: white;
  margin: 0;
  text-align: center;
}

.buyer-middle-div, .seller-middle-div {
  // height: 40vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

// .gray-line {
//   background-color: rgb(206, 206, 206);
//   width: 90vw;
//   height: 1px;
//   margin: auto;
// }

@media(max-width: 600px) {
  .buyer-middle-div, .seller-middle-div {
    grid-template-columns: 1fr;
  }
}

.seller-middle-div-card, .buyer-middle-div-card {
  // box-shadow: 0 0 5px black;
  color: #011627;
  background-color: white;
  border-style: none;
  border-radius: 5px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.card-content h5 {
  font-size: 30px;
}

.card-content p {
  font-size: 3vh;
}

.card-icon {
  text-align: center;
  margin: 10px;
}

.icon {
  font-size: 40px;
}

.seller-lower-div {
  background-color: $primary;
  margin: 20px 0;
  border-radius: 5px;
  padding: 8px 30px;
}

.buyer-footer, .seller-footer {
  color: white;
  margin: 0;
  text-align: center;
}
