.card-product {
  overflow: hidden;
  height: 160px;
  max-width: 350px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-infos {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.card-product-description {
  flex-grow: 1;
}

.card-product-info-button {
  align-self: flex-end;
}

.card-product-info-button a {
  font-size: 11px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.card-product .card-product-infos {
  width: 80%;
  padding: 16px;
}

