.product-list {
  width: 400px;
  background-color: white;
  list-style: none;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #9c9c9c;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;

}
