.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-right {
  display: flex;
  justify-content: space-between;
}

.navbar-item {
  margin: 5px 10px;
}

.fa-pepper-hot {
  color: black;
}

.fa-pepper-hot:hover {
  color: black;
}
