.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.navbar-white {
  background-color: white;
}

.navbar-white-unfixed {
  background-color: white;
  position: relative;
}

.navbar-right {
  display: flex;
  justify-content: space-between;
}

.navbar-item {
  margin: 0px 0px;
}

.fa-pepper-hot {
  color: black;
}

.fa-pepper-hot:hover {
  color: black;
}

.dropdown-toggle::after {

}
