.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.navbar-white {
  background-color: white;
}

.navbar-white-unfixed {
  background-color: white;
  position: relative;
}

.navbar-left a {
  color: white;
}

.navbar-right {
  display: flex;
  justify-content: space-between;
}

.dropdown-item {
  text-align: center;
}

.black {
  color: black;
}

.black:hover {
  color: black;
}

.white {
  color: white;
}

.white:hover {
  color: white;
}

.dropdown-menu {
  padding: 0;
  background-color: rgb(216, 216, 216);
  border-radius: 3px;
}

.navbar-item {
  margin: 0px 0px;
  padding: 0px 10px;
  color: white;
}

.navbar-item-black {
  color: black;
}

.navbar-item-black:hover {
  color: black;
}

.navbar-item-white {
  color: white;
}

.navbar-item-white:hover {
  color: white;
}

.navbar-item:hover {
  padding: 1px 10px;
  opacity: 0.8;
  text-decoration: none;
}
